APP_PORT=3000
APP_IMAGE=school-saver:local

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=school_saver

APP_DATABASE_URL=postgresql://postgres:postgres@db:5432/school_saver?schema=public
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=noreply@example.com
APP_URL=http://localhost:3000
